<%= render 'public/nav' %>

<h1>fukufukuへようこそ！</h1>


<!--<p>ユーザーと登録済みの方は以下のログイン画面からログインしてください</p>-->
<!--<p><%#= link_to 'ログイン画面へ', new_user_session_path %></p>-->

<!--<p>ユーザー登録をお済みでない方はこちらから登録してください</p>-->
<!--<p><%#= link_to 'ユーザー登録へ', new_user_registration_path %></p>-->