@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.heart {
  margin-right: 100px;
}

.btn-primary {
  margin-right: 100px;
}

// .btn:hover {
//   color: #fff;
//   background: #CCFFCC;
// }

.btn--radius {
   border-radius: 100vh;
}

.item {
  background-color: #FFF8DC;
}

.message {
   text-align: center;
}

ul {
  text-align: center;
  list-style: none;
}

.btn_one {
  display: flex;
}

.btn_two {
  margin: auto;
}

.border {
  border-radius: 7px;
}

.profile {
  width: 200px;
  text-align: center;
  transform: scale(1.2, 1.2);
  background-color: rgba(152, 251, 152, 0.6);
}

.profile_image {
  border-radius: 7px;
}

.user_information {
  transform: translate(60px);
  margin-bottom: 20px;
}